<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <!-- 控制台输出所有 -->
        <Console name="Console" target="SYSTEM_OUT" >
            <PatternLayout>
                <Pattern>%highlight{%d{yyyy-MM-dd HH:mm:ss} [Thread: %t][Class:%c >> Method: %l]%n%-5p:%m%n}</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <!-- 根目录级别 -->
        <Root level="Warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>